{% extends "base.html" %}
{% load markup %}

{% block title %}Manufacturer: {{object.name}}{% endblock %}
{% block subhead %}<a href="/manufacturer/">Manufacturer</a>: {{object.name}}{% endblock %}

{% block content %}


<div class="row">
	<div class="span3">
    {% if user.is_authenticated %}<p class="editlink"><a href="update/">edit</a><br />
  <a href="add_link/" rel="facebox">add link</a><br />
  <a href="add_gear/" rel="facebox">add gear</a><br />
    </p>{% endif %}
	</div>
	<div class="span9">
		<dl class="dl-horizontal">
			<dt>Description</dt>
			<dd>{{object.description|markdown}}</dd>

			<dt>Added</dt>
			<dd>{{object.added|date}}</dd>

			<dt>Modified</dt>
			<dd>{{object.modified|date}}</dd>
		</dl>
	</div>
</div>

{% if object.links.count %}
<div class="row">
	<div class="span3">
		<h3>Links</h3>
    {% if user.is_authenticated %}<p class="editlink"><a href="update/#links">edit</a></p>{% endif %}
	</div>
	<div class="span9">
    <ul>
      {% for link in object.links.all %}
      <li><a href="{{link.url}}">{{link.title}}</a> {{link.description}}</li>
      {% endfor %}
    </ul>
	</div>
</div>
{% endif %}

{% if object.gear_set.count %}
<div class="row">
	<div class="span3">
    <h3>Gear</h3>
	</div>
	<div class="span9">
    <ul>
      {% for gear in object.gear_set.all %}
      <li><a href="{{gear.get_absolute_url}}">{{gear.name}}</a></li>
      {% endfor %}
    </ul>
	</div>
</div>
{% endif %}


{% endblock %}
