Django==3.1.7
Markdown==2.6.11 # pyup: <3.0

Pillow==8.1.2

psycopg2-binary==2.8.6

coverage==5.5
pep8==1.7.1
pyflakes==2.2.0
mccabe==0.6.1
flake8==3.9.0
statsd==3.3.0
gunicorn==20.0.4

requests==2.25.1

six==1.15.0

python-dateutil==2.8.1
enum34==1.1.10
configparser==5.0.2
pycodestyle==2.6.0
urllib3==1.26.3
chardet==4.0.0
certifi==2020.12.5
idna==3.1
raven==6.10.0
pytz==2021.1

django-staticmedia==0.2.2
django-bootstrap-form==3.4
html2text==2020.1.16
django-statsd-mozilla==0.4.0
django-taggit==1.3.0
django-taggit-templatetags==0.4.6dev
django-templatetag-sugar==1.0
django-markwhat==1.6.2
django-appconf==1.0.4
django-compressor==2.4

django-storages==1.11.1

boto3==1.17.27

django-smoketest==1.1.2

django-debug-toolbar==3.2

django-waffle==2.1.0

django-jenkins==0.110.0
sqlparse==0.4.1

thraxilsettings==3.3.1
