Django==5.1.13
Markdown==3.9
psycopg2==2.9.11
gunicorn==23.0.0
django-bootstrap-form==3.4
django-taggit==5.0.1
django-taggit-templatetags==0.4.6dev
django-smoketest==1.2.1
django-waffle==4.1.0
sentry-sdk==2.42.0
whitenoise==6.11.0
requests==2.32.5
django-debug-toolbar==4.4.5
