Django==2.2.3
Markdown==2.6.11 # pyup: <3.0

Pillow==6.1.0

psycopg2-binary==2.8.3

coverage==4.5.3
pep8==1.7.1
pyflakes==2.1.1
mccabe==0.6.1
flake8==3.7.8
statsd==3.3.0
gunicorn==19.9.0

requests==2.22.0

six==1.12.0

python-dateutil==2.8.0
enum34==1.1.6
configparser==3.7.4
pycodestyle==2.5.0
urllib3==1.25.3
chardet==3.0.4
certifi==2019.6.16
idna==2.8
raven==6.10.0
pytz==2019.1

django-staticmedia==0.2.2
django-bootstrap-form==3.4
html2text==2018.1.9
django-statsd-mozilla==0.4.0
django-taggit==1.1.0
django-taggit-templatetags==0.4.6dev
django-templatetag-sugar==1.0
django-markwhat==1.6.1
django-appconf==1.0.3
django-compressor==2.3
boto==2.49.0
django-storages==1.7.1
django-cacheds3storage==0.2.1
django-smoketest==1.1.0
django-debug-toolbar==1.11
django-waffle==0.17.0
django-jenkins==0.110.0
sqlparse==0.3.0

thraxilsettings==3.1.1
