Django==5.0.3
Markdown==3.5.2
psycopg2-binary==2.9.9
gunicorn==21.2.0
django-bootstrap-form==3.4
django-taggit==5.0.1
django-taggit-templatetags==0.4.6dev
django-smoketest==1.2.1
django-debug-toolbar==4.3.0
django-waffle==4.1.0
sentry-sdk==1.41.0
whitenoise==6.6.0
