{% extends 'base.html' %}
{% load markup %}

{% block containerextra %}itemscope itemtype="http://schema.org/Blog"{% endblock %}
{% block title %}Blog{% endblock %}
{% block subhead %}<span itemprop="name">Gearspotting Blog</span>{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p class="editlink"><a href="post/">post</a><br />
{% endif %}

{% for post in posts %}
<div itemscope itemtype="http://schema.org/BlogPosting">
<div class="row">
	<h2 itemprop="name headline"><a itemprop="url" href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
</div>
<div class="row muted">
	by <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">
			<a itemprop="url" rel="author" href="/accounts/{{post.author.username}}/">{{post.author.username}}</a>
		</span>
	</span>
	<time datetime="{{post.published|date:'c'}}" itemprop="datePublished">{{post.published}}</time>
</div>

<div itemprop="articleBody">
{{post.body|markdown}}
</div>
</div>
{% endfor %}

{% endblock %}
