{% extends 'base.html' %}
{% load markup %}

{% block containerextra %}itemscope itemtype="http://schema.org/BlogPosting"{% endblock %}
{% block title %}Blog: {{post.title}}{% endblock %}
{% block subhead %}<span itemprop="name headline">{{post.title}}{% endblock %}

{% block content %}
<div>
	by <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">
			<a itemprop="url" rel="author" href="/accounts/{{post.author.username}}/">{{post.author.username}}</a>
		</span>
	</span>
	@ <time datetime="{{post.published|date:'c'}}" itemprop="datePublished">{{post.published}}</time>
</div>

<div itemprop="articleBody">
{{post.body|markdown}}
</div>

{% endblock %}
