{% extends "base.html" %}
{% load thumbnail %}
{% load markup %}
{% block title %}Photo{% endblock %}

{% block content %}

<h2>Photo</h2>

<img src="{% thumbnail object.image 1024x1024 %}" />

    {{object.caption|markdown}}

<p class="timestamp">Added: {{object.added|date}}, Modified: {{object.modified|date}}</p>
{% if object.source_url %}
<p>source: <a href="{{object.source_url}}">{{object.source_name|default:object.source_url}}</a></p>
{% else %}
{% if object.source_name %}
<p>source: {{object.source_name}}</p>
{% endif %}
{% endif %}

{% if object.gear %}
<ul>Gear
{% for gear in object.gear %}
<li><a href="{{gear.get_absolute_url}}">{{gear.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if object.musicians %}
<ul>Musician
{% for musician in object.musicians %}
<li><a href="{{musician.get_absolute_url}}">{{musician.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if object.musiciangear %}
<ul>MusicianGear
{% for musiciangear in object.musiciangear %}
<li><a href="{{musiciangear.musician.get_absolute_url}}">{{musiciangear.musician.name}}</a> <a href="{{musiciangear.gear.get_absolute_url}}">{{musiciangear.gear.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
