{% extends "base.html" %}
{% load markup %}

{% block title %}Musician: {{object.name}}{% endblock %}
{% block subhead %}<a href="/musician/">Musician</a>: <span itemprop="name">{{object.name}}</span>{% endblock %}

{% block containerextra %}itemscope itemtype="http://schema.org/Person"{% endblock %}

{% block content %}
    {% if user.is_authenticated %}<p class="editlink"><a href="update/" >edit</a><br />
  <a href="add_link/" rel="facebox">add link</a><br />
  <a href="add_photo/" rel="facebox">add photo</a><br />
  <a href="add_gear/" rel="facebox">add gear</a>
    </p>{% endif %}
    

<div class="row">
	<div class="span3">
    {% if object.musicianphotos.count %}
    <img itemprop="image" class="img-rounded"
 src="{{ object.first_photo.get_200_src }}" />
    {% endif %}
	</div>
	<div class="span9">
		<dl class="dl-horizontal">
			{% if object.description %}
			<dt>Description</dt>
			<dd itemprop="description">{{object.description|markdown}}</dd>
			{% endif %}
			<dt>Added</dt>
			<dd>{{object.added|date}}</dd>
			<dt>Modified</dt>
			<dd>{{object.modified|date}}</dd>

			{% if object.tags %}
    <dt>Tags</dt>
		<dd>
      {% for tag in object.tags.all %}<a href="{% url 'musician_tag_detail' tag %}">{{tag}}</a> {% endfor %}
		</dd>
{% endif %}

		</dl>
	</div>
</div>

{% if object.links.count %}
<div class="row">
	<div class="span3">
		<h3>Links</h3>
      {% if user.is_authenticated %}<p class="editlink"><a href="update/#links">edit</a></p>{% endif %}
	</div>
	<div class="span9">
    <dl class="dl-horizontal">
      {% for link in object.links.all %}
      <dt><a itemprop="url" href="{{link.url}}">{{link.title}}</a></dt><dd>{{link.description}}</dd>
      {% endfor %}
    </dl>
	</div>
</div>
{% endif %}

{% if object.musicianphoto_set.count %}
<div class="row">
	<div class="span3">
    <h3>Photos</h3>
    {% if user.is_authenticated %}<p class="editlink"><a href="update/#photos">edit</a>{% endif %}
	</div>
	<div class="span9">
      {% for photo in object.musicianphoto_set.all %}
      <a href="{{photo.photo.get_absolute_url}}"
      title="{{photo.photo.caption}}"><img class="img-polaroid"
 src="{{ photo.photo.get_100h_src }}" /></a>
      {% endfor %}
	</div>
</div>
{% endif %}

{% if object.musiciangear_set.count %}
<div class="row">
	<div class="span3">
    <h3>Gear</h3>
    {% if user.is_authenticated %}<p class="editlink"><a href="update/#gear">edit</a></p>{% endif %}
	</div>
	<div class="span9">
	<table class="table table-striped table-bordered table-condensed">
      {% for musiciangear in object.musiciangear_set.all %}
      <tr>
      <td><a href="{{musiciangear.get_absolute_url}}"><b>{{musiciangear.gear.manufacturer.name}}
      {{musiciangear.gear.name}}</b></a> {{musiciangear.description}}

	{% if musiciangear.musiciangearphoto_set.count %}
	{% for photo in musiciangear.musiciangearphoto_set.all %}
	<a href="{{photo.photo.get_absolute_url}}"
	title="{{photo.photo.caption}}"><img class="img-polaroid"
 src="{{ photo.photo.get_100h_src }}" /></a></div>
	{% endfor %}
	{% endif %}

{% comment %}
	{% tags_for_object musiciangear.gear as geartags %}
	{% if geartags %}
	<p class="geartags pull-right">
      {% for tag in geartags %}<a href="{% url 'gear_tag_detail' tag %}">{{tag}}</a> {% endfor %}</p>
	{% endif %}{% endcomment %}
      </td>
      </tr>
      {% endfor %}
    </table>
	</div>
</div>
{% endif %}


{% endblock %}
