{% extends "base.html" %}

{% block subhead %}Welcome{% endblock %}

{% block content %}

<p>Gearspotting.com is a community website for tracking music gear and
  the musicians that use that gear.</p>

<h3>Latest Gear</h3>

<ul>
  {% for gear in newest_gear %}
<li><a href="{{gear.manufacturer.get_absolute_url}}">{{gear.manufacturer.name}}</a> <a href="{{ gear.get_absolute_url }}">{{ gear.name }}</a></li>
  {% endfor %}
</ul>


<h3>Latest Musicians</h3>

   <ul>
    {% for musician in newest_musicians %}
<li><a href="{{ musician.get_absolute_url }}">{{ musician.name }}</a></li>
    {% endfor %}
    </ul>


{% endblock %}
